#name_count_down, #comments_count_down, #pwd_count_down, #confirm_count_down{
  width:50px;
  box-sizing:border-box;
  resize:vertical;
}
#pwd_confirm_msg{
  width:150px;
  resize:vertical;
}
input, textarea{
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.container{
  border-radius:5px;
  background-color: #f1f2f3;
  padding:20px;
}

#submit{
  background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
